html {
    height: 100%;
    background-color: antiquewhite;
}

.container {

    display: flex;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
}

.container>* {
    padding: 2px;
    margin: 2px;
}